repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: 24.2.0
  hooks:
  - id: black
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v1.9.0'
  hooks:
  - id: mypy
- repo: https://github.com/PyCQA/flake8
  rev: '7.0.0'
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-black==0.3.6
    exclude: "^(build|docs|setup.py)|tests[/]"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.15.1
    hooks:
    - id: pyupgrade
      args: [--py38-plus]
